@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Dancing+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Bodoni Moda', serif;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}
.background-image {
  height: 1100px;
  width: auto;
  background-image: url(./images/bgmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  filter: none; 
  height: 12vh;
}

.center-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
}

.center-nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center-nav img {
  height: 100px;
}

.book-appt {
  background-color: rgb(50, 101, 143);
  padding: 20px 55px;
}

.book-appt:hover {
  background-color: rgb(27, 55, 77);
}

.gift-card {
  padding: 20px 55px;
  border: 1px solid white;
}

.center-quotes {
  color: white;
  font-size: 2em;
}

.center-quotes h2 {
  margin-top: 80px;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

.center-quotes h1 {
  font-size: 50px;
}

.center-quotes h3 {
  font-size: 35px;
  margin-top: 20px;
  padding: 0;
}

.location-tiles-container {
  display: flex;
  justify-content: center;
}

.tile-item {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 350px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.884);
  margin: 0 40px;
  border-radius: 5px;
}

.address {
  padding-left: 40px;
  font-size: 1.2em;
}

.address  a{
  text-decoration: none;
  color:rgb(50, 101, 143)
}

.tile-item #services {
  text-align: center;
  padding: 5px 0px;
  width: 100%;
  background-color: rgb(50, 101, 143);
}

#services a {
  text-decoration: none;
  color: white;
}

.commitment-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

.commitment-container div:nth-child(2), .commitment-container div:nth-child(3){
  background-color: rgb(253, 253, 253);
  height: 100%;
}

.commitment-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.commitment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.commitment-section:nth-child(2){
  margin: 0px 30% 50px 70px;
}

.commitment-section:nth-child(3){
  margin: 0px 50px 0px 30%;
}
.commitment-section h2 {
  margin: 0 -20px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.commitment-section h1 {
  font-size: 35px;
}

.commitment-section p {
  font-size: 20px;
}

.commitment-section h2, h1 {
  color: rgb(50, 101, 143);
}

.commitment-image img {
  width: 100%;
}

footer {
  display: flex;
  height: 20vh;
  bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
}

.bottom-nav {
  display: flex;
  align-items: center;
}
.bottom-nav a {
  padding: 0px 30px;
}